<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Imagem</title>
    <style>
        .logo-img {
            width: 150px;  /* Define a largura da imagem */
            height: auto;  /* Ajusta a altura proporcionalmente */
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    {% if not dados_formatados %}
        <h1>Faça o upload de uma imagem</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Enviar">
        </form>
    {% else %}

        <h1>Resultado da Consulta</h1>
        {% if image_url %}
            <p>URL da Imagem:</p>
            <img src="{{ image_url }}" alt="Imagem enviada" />
        {% endif %}

        
        <form method="post">
            <input type="hidden" name="reset" value="true">
            <input type="submit" value="Voltar ao Upload">
        </form>
    {% endif %}
</body>
</html>
